---
interface Props {
  info: ProductInfo;
}

const locale = Astro.currentLocale ? Astro.currentLocale : 'en';

const description_detail = locale === 'en' ? 'View in detail' : '詳細はこちら';

const { info } = Astro.props;
---

<script src="https://kit.fontawesome.com/ffad7d90c7.js" crossorigin="anonymous"
></script>

<div class="flex flex-col">
  <h3 class="w-full text-center">
    {locale === 'en' ? info.title.en : info.title.ja}
  </h3>
  <img src={info.thumbnail} alt="" class="w-full" />
  <div class="flex flex-row justify-center">
    {
      info.infras.map((infra, index) => (
        <div class="flex flex-row items-center">
          <p>{infra.text}</p>
          {index !== info.infras.length - 1 && <p>&nbsp;/&nbsp;</p>}
        </div>
      ))
    }
  </div>
  <div class="flex flex-row justify-center">
    {
      info.langs.map((lang, index) => (
        <div class="flex flex-row items-center">
          <p>{lang.text}</p>
          {index !== info.langs.length - 1 && <p>&nbsp;/&nbsp;</p>}
        </div>
      ))
    }
  </div>
  <a href={info.href} class="w-full text-center">{description_detail}</a>
</div>
