---
const { class: className, showIcon, showId } = Astro.props
const username = "suggoi_kani"
const username_with_at = `@${username}`
const url = `https://twitter.com/${username}`
const icon="fa-x-twitter"
---

<a class={className} href={url}>
	{showIcon && <i class=`fa-brands ${icon}`></i>}
	{showId && <span>{username_with_at}</span>}
</a>
