---
const { class: className, showIcon, showId } = Astro.props
const username = "oda251"
const url = `https://www.github.com/${username}`
const icon="fa-github"
---

<a class={className} href={url}>
	{showIcon && <i class=`fa-brands ${icon}`></i>}
	{showId && <span>{username}</span>}
</a>
