---
interface Props {
	title: string;
	img: string;
	infras: string[];
	langs: string[];
	href: string;
}

const { title, img, infras, langs, href } = Astro.props;
---

<script src="https://kit.fontawesome.com/ffad7d90c7.js" crossorigin="anonymous"></script>

<div class="flex flex-col">
	<h3 class ="w-full text-center"> {title} </h3>
	<img src={img} alt="" class="w-full" />
	<div class="flex flex-row justify-center">
		{infras.map((infra) => (
			<div class="flex flex-row items-center">
				<i class="fas fa-check-circle"></i>
				<p>{infra}</p>
			</div>
		))}
	</div>
	<div class="flex flex-row justify-center">
		{langs.map((lang) => (
			<div class="flex flex-row items-center">
				<i class="fas fa-check-circle"></i>
				<p>{lang}</p>
			</div>
		))}
	</div>
	<a href={href} class="w-full text-center">Learn More</a>
</div>